$light-blue-color: #0A9BD8;

#map {
    position: absolute;
    top: 86px;
    bottom: 0;
    width: 100vw;
    height: auto;
    
    /*
    .leaflet-bottom .leaflet-right{
        .leaflet-control-zoom .leaflet-bar .leaflet-control{
            border: none;

            .leaflet-control-zoom-in{
                border-top-left-radius: 20px;
                
            }
        }
    }*/
}